<h2>User Login</h2>
<% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
    <form action="/login" method="post">
    <div>
        <label for="username">Email:</label><br>
        <input type="text" id="username" name="username" required><br>
    </div>   
    <div><label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
    </div>
    <input type="submit" value="Login">
</form>
<a href="/register">Register</a>
